body {
    font-family: Helvetica, Tahoma, sans-serif;
    background-color: #F7F9FA
}

div {
    padding: 8px; 
    overflow: auto;
    margin: 16px;
    
}

div::-webkit-scrollbar {
    display: none;
}