body {
    font-family: Inter, 'Open Sans', 'Work Sans', 'Roboto', 'Arial', sans-serif;
    background-color: #000000
}

div {
    padding: 0px; 
    overflow: auto;
}

div::-webkit-scrollbar {
    display: none;
}