body {
    font-family: Helvetica, Tahoma, sans-serif;
    background-color: #F7F9FA;
    padding-bottom: 16px;
    overflow-y: auto;
}

div {
    overflow: auto;
    margin: 16px;

}

div::-webkit-scrollbar {
    display: none;
}

p {
-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}


text {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}
